.customer-login-container {
  height: 100vh;
  background-image: linear-gradient(
      rgba(15, 15, 15, 0.8),
      rgba(15, 15, 15, 0.7)
    ),
    url("../../../public/carrots.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Inter";
  color: white;
  gap: 5rem;
}

.customer-login-header {
  font-size: 3rem;
  letter-spacing: 2rem;
  text-align: center;
}

.customer-login-subtext {
  font-size: 2rem;
  letter-spacing: 2rem;
  text-align: center;
}
.customer-login-input {
  background-color: #ffffffbc;
  border: none;
  /* text-transform: uppercase; */
  font-size: 1.6rem;
  border-radius: 100rem;
  transition: 0.3s;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.customer-login-text {
  font-size: 2rem;
}

.customer-login-submit-btn {
  background-color: #ffffffbc;
  border: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.customer-login-submit-btn:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

.customer-login-go-back-btn {
  background-color: #ffffffbc;
  border: none;
  /* text-transform: uppercase; */
  font-size: 1.6rem;
  border-radius: 100rem;
  cursor: pointer;
  transition: 0.3s;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

.customer-login-go-back-btn:hover {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.05);
}

@media (max-width: 495px) {
  .customer-login-header {
    font-size: 2rem;
    letter-spacing: 1rem;
  }
  .customer-login-subtext {
    font-size: 1.2rem;
    letter-spacing: 1rem;
  }
  .customer-login-input {
    width: 22rem;
    font-size: 1.2rem;
  }
  .customer-login-submit-btn {
    width: 22rem;
    font-size: 1.2rem;
  }
  .customer-login-go-back-btn {
    width: 22rem;
    font-size: 1.2rem;
  }
  .customer-login-text {
    font-size: 1.2rem;
  }
}

@media (max-width: 393px) {
  .customer-login-header {
    font-size: 1.4rem;
    letter-spacing: 1rem;
  }
  .customer-login-subtext {
    font-size: 1rem;
    letter-spacing: 1rem;
  }
  .customer-login-input {
    width: 22rem;
    font-size: 1.2rem;
  }
  .customer-login-submit-btn {
    width: 22rem;
    font-size: 1.2rem;
  }
  .customer-login-go-back-btn {
    width: 22rem;
    font-size: 1.2rem;
  }
}
